<!DOCTYPE html>
<!--引入thymeleaf约束-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
</head>
<body>
    时间：<span th:text="${#dates.format(date,'yyyy-MM-dd HH-mm-ss')}"></span><br>
    金额：<span th:text="'￥'+${#numbers.formatDecimal(price,1,2)}"></span><br>
    中文操作：
        <!--#这里的含义如果atc.text这个变量多余200个字符，后面显示...-->
        <p th:text="${#strings.abbreviate(strText,10)}"></p><br>
        <!--判断字符串是否为空-->
        <span th:if="${!#strings.isEmpty(str2)}">字符串str2不为空</span>
        <!--截取指定长度字符串-->
        <span th:text="${#strings.substring(str2,1,3)}"></span>
</body>
</html>