<!DOCTYPE html>
<!--引入thymeleaf约束-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
</head>
<body>
    <h3 th:text="${message}"></h3>
    <h3 th:text="#{message1}"></h3>
    <h3 th:text="#{message2}"></h3><br/>

    <h5 th:text="${user.id}"></h5>
    <h5 th:text="${user.name}"></h5>
    <h5 th:text="${user.age}"></h5><br/>

    <img th:src="${map.src}" style="width: 150px" />
</body>
</html>